<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${room.roomname}"></title>
        <script src="/webjars/jquery/dist/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    </head>

    <body>
        <span th:text="${username}"></span>님 반갑습니다.</div>

        <h1 th:text="${room.roomname}"></h1>
        <div id="content" th:data-room-id="${room.chatroomId}" th:data-username="${username}">
            <ul id="chatBox" style="list-style-type: none; padding-left: 0;"></ul> <!--채팅창-->
            <input name="message" />
            <button id="send">보내기</button>
            <a th:href="@{/api/chat/rooms-out}"><button id="disconnect" type="submit">나가기</button></a>
        </div>

        <script>
            let client = null;
            let roomId = $('#content').data('room-id');
            let username = '[[${username}]]';

            $(function () {
                let sock = new SockJS("/chat");
                client = Stomp.over(sock);

                client.connect({}, function () {
                    client.send('/publish/chat/enter', {}, JSON.stringify({chatroomId: roomId, type: 'ENTER', senderId: username}));

                    client.subscribe('/subscribe/chat/room/' + roomId, function (chat) {
                        let content = JSON.parse(chat.body);
                        $('#chatBox').append('<li>' + '[' + content.senderId + '] ' + content.message + ' ('+ new Date().toLocaleString() + ')' + '</li>')
                    });

                    client.subscribe('/subscribe/chat/room/inout/' + roomId, function (chat) {
                        let content = JSON.parse(chat.body);
                        $('#chatBox').append('<li>' + content.message + ' ('+ new Date().toLocaleString() + ')' + '</li>')
                    });

                });

                $( "#send" ).click(function() { sendMsg(); });
                $( "#disconnect" ).click(function() { disconnect(); });
            });


            //메시지를 발행(생성)
            function sendMsg() {
                let message = $('input[name="message"]').val();
                client.send('/publish/chat/talk', {}, JSON.stringify({chatroomId: roomId, type: 'CHAT', message: message, senderId: username}));
                $('input[name="message"]').val('');
            }

            //웹소켓 연결 끊기
            function disconnect() {
                client.send('/publish/chat/exit', {}, JSON.stringify({chatroomId: roomId, type: 'EXIT', senderId: username}));

                if (client !== null) {
                    client.disconnect();
                }
                console.log("Disconnected");
            }
        </script>
    </body>
</html>