<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <link rel="stylesheet" href="/css/basic.css">
        <title>채팅방 목록</title>
    </head>

    <body>
        <div>
            <span th:text="${username}"></span>님 반갑습니다.</div>
        </div>

        <form th:action="@{/api/chat/rooms}" method="post">
            <div>
                <input type="text" name="roomname" placeholder="Enter room name" required>
                <button type="submit">채팅방 생성</button>
            </div>
        </form>

        <h1>모든 채팅방 목록</h1>
        <ul class="roomlist">
            <li th:each="room : ${rooms}">
                <a th:href="@{/api/chat/rooms/{chatroomId}(chatroomId=${room.chatroomId})}" th:text="${room.roomname}"></a>
            </li>
        </ul>

        <h1>내가 속한 채팅방 목록</h1>
        <ul class="roomlist">
            <li th:each="myroom : ${myrooms}">
                <a th:href="@{/api/chat/rooms/{chatroomId}(chatroomId=${myroom.chatroomId})}" th:text="${myroom.roomname}"></a>

                <form th:action="@{/api/chat/rooms/{chatroomId}(chatroomId=${myroom.chatroomId})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="put"/>
                    <button type="submit" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</button>
                </form>
            </li>
        </ul>
    </body>
</html>
